<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <!-- Required for Foreground Service -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <!-- Bluetooth Permissions for Android 12 (API 31) and above -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Legacy Bluetooth Permissions for Android 11 (API 30) and below -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />

    <!-- Required for BLE scanning on Android 6.0 (API 23) and higher -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MainApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:theme="@style/AppTheme">
        <meta-data 
            android:name="expo.modules.updates.ENABLED" 
            android:value="false" 
        />
        <meta-data
            android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH"
            android:value="ALWAYS"
        />
        <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0" />
        <activity android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode"
            android:launchMode="singleTask" 
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.App.SplashScreen" 
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rn.bridger" />
            </intent-filter>
        </activity>

        <!-- Register ClipboardSenderActivity -->
        <activity
            android:name=".ClipboardSenderActivity"
            android:exported="true"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Declare BubbleActionReceiver -->
        <receiver
            android:name=".BubbleActionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.rn.bridger.BUBBLE_CLICK" />
                <action android:name="com.rn.bridger.BUBBLE_LONG_CLICK" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".BubbleActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:allowEmbedded="true"
            android:resizeableActivity="true"
            android:documentLaunchMode="always"
            android:exported="true"
        />

        <service
            android:name=".ClipboardTileService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_send_clipboard"
            android:label="Send Clipboard"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- DECLARE THE FOREGROUND SERVICE -->
        <service
            android:name=".BridgerForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice"
        />

        <!-- DECLARE THE HEADLESS JS TASK -->
        <service
            android:name=".BridgerHeadlessTask"
            android:enabled="true"
            android:exported="false"
        />

    </application>
</manifest>