name: Android PR Check

on:
  pull_request:
    branches: [ main ]
    paths:
      - '**' # Watch all files in this repository

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3
        with:
          packages: 'platforms;android-34 build-tools;34.0.0'

      - name: Create .env file
        run: |
          echo "${{ secrets.SHARED_BLE_CONFIG }}" > .env

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install Bun dependencies
        run: bun install

      - name: Run Linter
        run: bun run lint

      - name: Generate Android project
        run: bunx expo prebuild --platform android --no-install

      - name: Build Debug APK
        run: bun run android:build:debug
